
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: #b4b5b6;
}

.background img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35em; 
  height: 35em;
  opacity: 0.3; 
  pointer-events: none; 
  

}

#doctor-section {
  padding: 20px;
  margin-top: 5rem;
    
    height: auto;
    width: 100%;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
	border-radius: 10px;
	overflow-x: auto;
	padding-bottom:50px;
}
.department-card{
	width:25%;
	float:left;	
}
.department-card-body{
	width:90%;
	margin:auto;
	text-align:center;
	margin-top:20px;
}
.department-card-body:hover{
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1);	
	border-radius: 4px;
	color:#027AFD;
}
.card-text{
	padding-left:10px;
	padding-bottom:20px;	
}
.line-height{
	line-height:4px;
		
}
.text-decoration{
	text-decoration:none;	
}
.text-dark{
	color:black;	
}

.dashboard-container {
  display: flex;
  margin-left: 25%;
}

.sidebar {
  width: 20%;
  background-color: #0b1c3b;
  color: white;
  height: 100vh;
  padding: 20px;
  text-align: center;
  position: fixed;
  transform: translateX(0);
    transition: transform 0.3s ease;
  z-index: 3;
  left: 0;
  top: 0;
}
.sidebar h2 {
  margin: 10px 0 5px;
  font-size: 20px;
  color: white;
}

.sidebar p {
  margin: 0 0 20px;
  font-size: 14px;
  color: white;
}

.profile-picture img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-picture{
  border-bottom: 2px solid white ;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.sidebar ul li {
  margin-top: 10px;
  
}

.sidebar ul li a {
  text-decoration: none;
  color: white;

  display: block;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.7s;
  /* background-color: #007bff; */
  color: white;
  box-shadow: 2px 2px 5px rgba(12, 0, 0, 0.2);
}

.sidebar ul li a:hover {
  background-color:rgba(12, 0, 0, 0.2);
}


.main-content {
  width: 80%;
  padding: 20px;
  margin-top: 0;
}


#welcome-section {
  margin-top: 0%;
  color: green;
  transition: opacity 4s ease;
}

#welcome-section h1 {
  text-align: center;
}


.status-cards {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
  
}

.card {
  background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  border-radius: 0.4rem;
  padding: 20px;
  text-align: center;
 

}


.card h3 {
  font-size: 28px;
  margin: 0 0 10px;
}

.card p {
  margin: 0;
  font-size: 16px;
  color: #555;
}




section {
  margin-top: 5rem;
}

#appointments-section{
  padding: 3rem;
  width: 60vw;
  min-height: 60vh;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border-radius: 10px;
  overflow-x: auto; 

}
table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}

table th,
table td {
  text-align: left;
  padding: 10px;
  border: 3px solid black;
}

table th {
  background-color: #007bff;
}
#appointments-section th:nth-child(4),
#appointments-section td:nth-child(4) {
  max-width: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#profile-form label {
  font-weight: bold;
}

#profile-form input,
#profile-form select,
#profile-form textarea {
  width: 50vw;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #0a0909;
  border-radius: 2rem;
}

#profile-form button,
#edit-profile,
#new-appointment {
  background-color: #05e20d;
  color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 16px;
  width: 15vw;
  margin-top: 1rem;
}

#new-appointment:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

#profile-section {
  padding: 20px;
  margin-top: 5rem;
    
    height: auto;
    width: auto;
  
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border-radius: 10px;
  overflow-x: auto; 

}

#profile-details,
#profile-form {
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  gap: 15px;
  box-shadow: 0 4px 8px rgb(156, 60, 60);
  border-radius: 10px;

}

form label {
  display: block;
  margin-top: 10px;
}



button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

#cancel {
color:white;
background-color: red;
}

#profile-form button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}
#edit-profile:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}


#billing-section {
  width: 60vw;
  height: 60vh;
  margin-top: 5rem;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border-radius: 10px;
  overflow-x: auto; 
}

.billing-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.billing-table-container {
  overflow-x: auto; 
}

#billing-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

#billing-table th,
#billing-table td {
  text-align: left;
  padding: 12px;
}

#billing-table th {
  background-color: #4caf50;
}
button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button.view-invoice {
  background-color: #476688;
  width: 7rem;
}

button.view-invoice:hover {
  background-color: #077cfa;
}

button.pay-now {
  background-color: #28a745;
  width: 7rem;
}

button.pay-now:hover {
  background-color: #01fd3c;
}
#prescription{
  width: 60vw;
  height: 60vh;
  margin-top: 5rem;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border-radius: 10px;
  overflow-x: auto; 

}
